<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/nave') %>
    <h1> creat new wbsite</h1>

    <!-- (enctype="multipart/form-data") this allow to add file and image -->
    <form action="/listings" method="post" enctype="multipart/form-data">

        <label for="">Add Price:</label>
        <input type="number" name="price" min="0">

        <label for=""> Add Street addres:</label>
        <input type="text" name="streetAddres">

        <label for=""> Add the City:</label>
        <input type="text" name="city">

        <label for=""> Add the size:</label>
        <input type="number" name="size" min="0">

        <label for=""> image</label>
        <!-- // edited to add image -->
        <input type="file" name="image" accept="image/jpeg,image/png,image/webp,image/jpg">
        
        <br>
        <button type="submit"> Add List</button>

    </form>
</body>
</html>